@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@400;600;700;800&display=swap');

.floatTest {
  animation: floatTest 1.5s ease-in-out infinite;
}

@keyframes floatTest {
  0%, 100% {
    transform: translateY(0);
    opacity: 0.7;
  }
  50% {
    transform: translateY(-14px);
    opacity: 1;
  }
}